.button {
  display: inline-block;
  background-color: var(--button);
  color: var(--block-features);
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  padding: 1rem 3.75rem;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  line-height: 1.5;
  text-align: center;
}

.button:hover {
  background-color: var(--hover-button);
}
