:root {
  --button: #e44848;
  --hover-button: #d84343;
  --main: #101828;
  --inputs: #f7f7f7;
  --block-features: #f2f4f7;
  --rating: #ffc531;
  --text: #475467;
  --font-family: "Inter", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  --bg: #ffffff;
  --fg: #000000;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: var(--font-family);
  transition: background-color 0.3s ease, color 0.3s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: o;
}
